    <div class="barraBusqueda">
     <div class="acciones">
    <table>
        <tr>
            <td><button routerLink="/busqueda-raza" id="buscarRaza">Buscar Raza</button></td>
            <td><button routerLink="/crear-raza" id="crearRaza">Crear Raza</button></td>
        </tr>
    </table>
    </div>
    </div>

    <div class="busqueda">
       <input type="text" pInputText [(ngModel)]="campoBusqueda" />
       <p-button label="Buscar Raza" icon="pi pi-check"  (onClick)="buscar()" severity="contrast" />
    </div>

    <div>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Longevidad</th>
                    <th>Región Principal</th>
                    <th>Afinidad Mágica</th>
                    <th>Nivel de Corrupción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let raza of razasFiltradas">
                        <td>{{ raza.nombre }}</td>
                        <td>{{ raza.descripcion }}</td>
                        <td>{{ raza.longevidad }}</td>
                        <td>{{ raza.regionPrincipal }}</td>
                        <td>{{ raza.afinidadMagica }}</td>
                        <td>{{ raza.nivelCorrupcion }}</td>
                </tr>
                <tr *ngIf="razasFiltradas.length === 0">
                     <td colspan="5">No se encontraron razas</td>
                 </tr>
            </tbody>


        </table>

    </div>